# Configuração da API do TMDB
# Obtenha sua chave em: https://www.themoviedb.org/settings/api
TMDB_API_KEY=8624af31f00c35241c8b088bbcdefe8e

# Chave secreta da aplicação Flask (opcional)
SECRET_KEY=chave-secreta-padrao-para-desenvolvimento 